.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 17rem;
  width: 100%;
  margin: 5rem auto;
  background-color: var(--semilight);
  padding: 2rem 1rem;
  outline: 0.175rem dashed var(--dark);
  outline-offset: -0.625rem;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.form-container h2 {
  align-self: center;
  padding: 0 0.5rem;
  border-bottom: 0.25rem double var(--dark);
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.input-box {
  border: none;
  height: 100%;
  padding: 0 1rem;
}

.input-box,
.input-box:-webkit-autofill,
textarea,
textarea:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-box-shadow: 0 0 0 1000px var(--semilight) inset !important;
  color: var(--dark);
  background-color: var(--semilight);
  outline: 0.125rem dashed var(--light);
  outline-offset: -0.375rem;
  font-family: 'Lusitana', serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
}

.input-box:focus,
.input-box:hover,
.input-box:-webkit-autofill:hover,
.input-box:-webkit-autofill:focus,
.input-box:-webkit-autofill:active,
textarea:focus,
textarea:hover,
textarea:active {
  -webkit-box-shadow: 0 0 0 1000px var(--light) inset !important;
  outline: 0.125rem dashed var(--grey);
  outline-offset: -0.375rem;
}

.terms {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 600;
  margin-top: 1rem;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  accent-color: green;
  margin-left: 0.5rem;
}

.input-div {
  position: relative;
  display: flex;
  align-items: center;
  height: 2.5rem;
  margin: 0.5rem auto;
}

.input-div:first-of-type {
  margin-top: 2rem;
}

.input-div:last-of-type {
  margin-bottom: 2rem;
}

.input-image {
  width: 1.125rem;
  position: absolute;
  right: 1rem;
}

.input-image.password {
  cursor: pointer;
}

.submit-btn {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  height: 3.5rem;
  width: 100%;
  background-color: var(--light);
  outline: 0.125rem dashed var(--semilight);
  outline-offset: -0.375rem;
}

.submit-btn:hover,
.submit-btn:focus {
  color: var(--dark);
  background-color: var(--light);
  outline: 0.125rem dashed var(--grey);
  outline-offset: -0.375rem;
  cursor: pointer;
}

.sign-up-link {
  margin-top: 1.5rem;
  font-size: 0.8125rem;
}

.sign-up-link:hover,
.sign-up-link:active {
  text-decoration: underline dashed var(--grey);
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 0.15rem;
}

.submit-message {
  position: absolute;
  color: rgb(255, 0, 0);
  font-size: 0.875rem;
  font-weight: 900;
  font-family: 'Lusitana', serif;
}

.submit-message.login {
  top: 15%;
}

.submit-message.signup {
  top: 13%;
}

.validation-message {
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  color: rgb(255, 0, 0);
  font-size: 0.75rem;
  font-weight: 900;
  font-family: 'Lusitana', serif;
  display: none;
}

input:invalid ~ span.validation-message {
  display: block;
}

/* =================== RESPONSIVE ======================= */

@media screen and (max-width: 1279px) {
  .form-container {
    margin-right: calc(10vw + 0.5rem);
  }
}

@media screen and (max-width: 1124px) {
  .form-container {
    margin-right: auto;
  }
}

@media screen and (max-width: 520px) {
  .form-container {
    margin: 3rem auto;
  }
}
