.post-wrapper {
  padding: 0 5rem 4.2rem clamp(2rem, 5vw, 5rem);
  border-bottom: 0.15rem dashed var(--semilight);
}

.post-wrapper:last-child {
  border-bottom: none;
}

.post {
  position: relative;
  margin-top: 5rem;
  padding: 3rem;
  outline: 0.4rem double var(--semidark);
  outline-offset: -0.35rem;
}

.post:hover,
.post:active {
  outline: 0.4rem double var(--dark);
  background-color: #d9d9d918;
  box-shadow:
    0 0.1875rem 0.375rem rgba(0, 0, 0, 0.16),
    0 0.1875rem 0.375rem rgba(0, 0, 0, 0.23);
}

.meal-summary {
  display: grid;
  grid-template-areas:
    'meal-picture meal-description'
    'meal-picture post-footer';
  grid-template-rows: 14rem 3rem;
  grid-template-columns: 17rem auto;
  column-gap: 2rem;
}

.post-picture {
  grid-area: meal-picture;
  max-height: 17rem;
  max-width: 17rem;
  outline: 0.4rem double var(--semilight);
}

.post-description {
  grid-area: meal-description;
  text-align: justify;
}

.meal-description::first-letter {
  initial-letter: 2;
  font-weight: 700;
  margin-right: 0.25rem;
}

.meal-name {
  background-color: var(--light);
  color: var(--dark);
  font-size: 2rem;
  position: absolute;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  top: -1.6rem;
  left: 1.5rem;
  margin-right: 1.5rem;
  outline: 0.2rem dashed var(--grey);
  outline-offset: -0.2rem;
}

.post:hover .meal-name,
.post:active .meal-name {
  transform: scale(1.025);
  transition: transform 0.1s;
  cursor: pointer;
}

.post-footer {
  grid-area: post-footer;
  font-size: 0.85rem;
  font-weight: 300;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.25rem;
  align-items: end;
}

.post-footer a {
  font-weight: 700;
  text-decoration: none;
}

.post-footer a:hover,
.post-footer a:active {
  text-decoration: underline dashed var(--grey);
  text-underline-offset: 0.175rem;
  text-decoration-thickness: 0.0625rem;
}

.meal-ratings {
  height: 100%;
  display: flex;
  align-items: center;
}

.meal-ratings img {
  height: 1.375rem;
  margin-right: 0.375rem;
}

.created-at,
.created-by {
  text-align: right;
}

/* =================== RESPONSIVE ======================= */

@media screen and (max-width: 1279px) {
  .post-wrapper {
    padding-left: clamp(2rem, 3vw, 5rem);
    padding-right: clamp(2rem, 3vw, 5rem);
  }
}

@media screen and (max-width: 980px) {
  .post-wrapper {
    padding-left: clamp(5rem, 3vw, 6rem);
  }
}

@media screen and (max-width: 800px) {
  .meal-summary {
    display: grid;
    grid-template-areas:
      'meal-picture meal-description'
      'post-footer post-footer';
    grid-template-rows: 17rem auto;
    grid-template-columns: 17rem auto;
    column-gap: 2rem;
  }

  .post-footer {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 730px) {
  .meal-summary {
    display: flex;
    flex-direction: column;
  }

  .post-picture {
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 1.5rem;
    outline: 0.4rem double var(--semilight);
  }
}
