.post {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 3rem;
  margin-top: 5rem;
  outline: 0.4rem double var(--semidark);
}

.post:first-child {
  margin-top: 0;
}

.post:last-child {
  margin-bottom: 5rem;
}

.about {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.picture {
  height: 17rem;
  width: auto;
  outline: 0.4rem double var(--semilight);
}

.meal-name {
  background-color: var(--light);
  font-size: 2rem;
  position: absolute;
  padding: 0 0.5rem 0 0.5rem;
  top: -1.5rem;
  left: 1rem;
}
