.recipes {
  margin-top: 2.5rem;
}

.in_rub:hover,
.in_rub:active {
  background-color: var(--semilight);
  outline: 0.125rem dashed var(--semidark);
  outline-offset: -0.3rem;
  cursor: pointer;
}

.meals-heading {
  font-size: 1.375rem;
  width: 100%;
  text-align: center;
  align-self: center;
  border-bottom: 0.25rem double var(--dark);
}

.meal-list {
  margin-top: 2rem;
}