/* TEMPORARY STYLING */

.sidebar {
  position: absolute;
  left: 0;
  max-width: clamp(12rem, 18vw, 20rem);
  width: 100%;
  height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  background-color: var(--light);
  background-image: url(../assets/grill-semilight.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: right 50% bottom -0.1rem;
  border-right: 0.25rem double var(--semilight);
}

.side-footer {
  position: absolute;
  display: inline;
  bottom: 0.625rem;
  font-size: 0.625rem;
  text-align: center;
}

.side-navigation {
  position: relative;
  max-width: 15rem;
  width: 90%;
  padding: 0;
  margin: 0 2rem;
}

.side-heading {
  max-width: 11rem;
  width: 100%;
  margin-top: 1.4rem;
  font-size: 1.25rem;
  font-weight: 800;
  text-align: center;
  border-bottom: 0.25rem double var(--dark);
}

.filter-items {
  margin-top: 1.6rem;
}

.category {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.375rem;
  padding: 0.75rem;
  position: relative;
  height: 2rem;
}

.category:before {
  content: '';
  position: relative;
  bottom: -0.5rem;
  width: 100%;
  height: 0;
  line-height: 0;
  border-bottom: 0.125rem dotted var(--dark);
}

.category p {
  background: var(--light);
  position: absolute;
  padding-right: 0.5rem;
  z-index: 1;
}

.category img {
  max-height: 1.5rem;
  max-width: 2rem;
  float: right;
  padding-left: 0.5rem;
}

.category:hover {
  background-color: var(--semilight);
}

.category:hover p {
  background-color: var(--semilight);
}

.category:hover img {
  transform: scale(1.2);
  transition: transform 0.1s;
}

.active {
  background-color: var(--semilight);
}

.active p {
  background-color: var(--semilight);
}

.active img {
  transform: scale(1.2);
  transition: transform 0.1s;
}

/* =================== RESPONSIVE ======================= */

@media screen and (max-width: 1279px) {
  .sidebar {
    max-width: 4rem;
    width: 15vh;
    background-image: none;
  }

  .side-footer {
    display: none;
  }

  .side-navigation {
    width: 100%;
    height: inherit;
  }

  .side-heading {
    display: none;
  }

  .filter-items {
    margin-top: 0;
    height: inherit;
  }

  .filter-items li {
    height: 14.28%;
    max-height: 4rem;
  }

  .category {
    box-sizing: border-box;
    justify-content: center;
    padding: 0;
    position: relative;
    height: 100%;
  }

  .category:before {
    position: absolute;
    border-bottom: none;
  }

  .category p {
    display: none;
  }

  .category img {
    max-height: 1.5rem;
    width: auto;
    padding: 0;
  }
}

@media screen and (max-width: 520px) {
  .sidebar {
    position: fixed;
    display: flex;
    flex-direction: row;
    bottom: 0;
    max-width: 100vw;
    width: 100%;
    height: 3rem;
    border-right: none;
    border-top: 0.25rem double var(--semilight);
    z-index: 1;
    justify-content: space-between;
  }

  .side-navigation {
    max-width: 100vw;
    padding: 0;
    margin: 0 auto;
  }

  .filter-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .filter-items li {
    height: 100%;
    width: 100%;
  }
}
