.submit-message {
  color: red;
  font-size: 0.7rem;
}

.validation-message {
  color: red;
  font-size: 0.7rem;
  display: none;
  /* this must travel to final code */
}

input:invalid ~ span.validation-message {
  /* this must travel to final code */
  display: block;
  /* this must travel to final code */
}
