.user-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem;
  gap: 2rem;
  justify-content: start;
}

.meals,
.rubs {
  display: flex;
  flex-direction: column;
  background-color: var(--semilight);
  padding: 1.75rem;
  outline: 0.175rem dashed var(--dark);
  outline-offset: -0.625rem;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.user-heading {
  font-size: 1.375rem;
  width: 100%;
  text-align: center;
  align-self: center;
  margin-top: 2rem;
  border-bottom: 0.25rem double var(--dark);
}

.rubs h2,
.meals h2 {
  font-size: 1.375rem;
  width: 50%;
  text-align: center;
  align-self: center;
  border-bottom: 0.25rem double var(--dark);
}

.list {
  margin-top: 1rem;
}

.meal-name-list {
  font-size: 1.25rem;
}
