/* TEMPORARY STYLING */
:root {
  --dark: #1b1b1b;
  --semidark: #595959;
  --grey: #8c8c8c;
  --semilight: #d9d9d9;
  --light: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lusitana', serif;
  color: var(--dark);
  background-color: var(--light);
}

h1,
h2,
a {
  font-family: 'Young Serif', serif;
}

a {
  color: inherit;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
}

.grid-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    'header'
    'main';
  grid-template-rows: 4rem auto;
}

.header {
  grid-area: header;
}

/* .sidebar {
  grid-area: sidebar;
  height: 100%;
} */

/* .sub-grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: 'posts bestbar';
  grid-template-columns: auto 24rem;
  grid-area: main;
  overflow: auto;
} */

.sub-grid-container {
  grid-area: main;
  display: flex;
  overflow-y: scroll;
  margin-left: 1rem;
  scrollbar-gutter: stable;
}

.content {
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 22rem;
}
