/* TEMPORARY STYLING */
:root {
  --dark: #1b1b1b;
  --semidark: #595959;
  --grey: #8c8c8c;
  --semilight: #d9d9d9;
  --light: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  font-optical-sizing: auto;
  color: var(--dark);
  background-color: var(--light);
}

a {
  color: inherit;
}

li {
  list-style: none;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    'header header'
    'sidebar main'
    'footer footer';
  grid-template-columns: 25rem auto;
  grid-template-rows: 5rem auto;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
  overflow: auto;
}

.footer {
  grid-area: footer;
}

.posts {
  max-width: 960px;
  margin: 5rem auto;
  padding: 0 5rem;
}