/* TEMPORARY STYLING */
:root {
  --dark: #1b1b1b;
  --semidark: #595959;
  --grey: #8c8c8c;
  --semilight: #d9d9d9;
  --light: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  font-optical-sizing: auto;
  color: var(--dark);
  background-color: var(--light);
}

a {
  color: inherit;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
  font-family: 'Merriweather Sans', sans-serif;
  font-optical-sizing: auto;
}

.grid-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    'header header'
    'sidebar main';
  grid-template-columns: 25rem auto;
  grid-template-rows: 5rem auto;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.sub-grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "posts bestbar";
  grid-template-columns: auto 25rem;
  grid-area: main;
  overflow: auto;
}

.best-bar {
  grid-area: bestbar;
}

.posts {
  grid-area: posts;
  max-width: 800px;
  margin: 5rem auto;
  padding: 0 5rem;
}